.main-title ,
.active {
    color: red;
}
.wrap{
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-title_red{
    border: 1px red solid;
}