.main-title ,
.active {
    color: red;
}
.wrap{
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;

}

.main-title_red{
    border: 1px red solid;
}
.body-layout{
    background-color: rosybrown;
}